
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:poopins,sans-serif;
}
body{
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(90deg,#e2e2e2,#c9d6ff);
}
.container{
  position: relative;
  background-color: #adb5bd;
  height: 550px;
  width: 850px;
  border-radius: 30px;
box-shadow:0,0,30px,rgba(0,0,0, .2);
}
.form-box{
    position: absolute;
    right: 0;
    height:100%;
    width: 50%;
    background-color: #adb5bd;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333;

}
.form{
width: 100%;
}
.container h1{
    font-size: 36px;
    margin: -10px 0;

}
.input-box{
    position: relative;
    margin: 30px 0;
}
.input-box input{
    width: 340px;
    height: 40px;
    border-radius: 7px;
    padding:13px 50px 13px 20px ;
    background-color: white;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
}
.input-box input::placeholder{
    color: #888;
    font-weight: 400;
}
.input-box i{
    position: absolute;
    right: 10px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}
.btn{
    width:117px ;
    height: 58px;
    border-radius:8px ;
    background-color: #7494ec;
    border: none;
    box-shadow:0 0 10px rgba(0,0,0,.1) ;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;

}
.container p{
    font-family: 14.5px;
    margin: 15px 0;
}
.social-icons a{
    display: inline-flex;
    padding:10px ;
    border:2px solid #ccc ;
    border-radius: 8px;
    font-size:24px ;
    color: #333;
    text-decoration: none;
    margin: 0 8px;
}
.forget-link{
    margin: -15px 0 15px;
}
.forget-link a{
    text-decoration: none;
    font-size: 14.5px;
    color: #333;
}